# Ambiente virtual Python
venv/
.venv/

# Arquivos gerados
atas/
*.txt
*.docx
*.pdf

# Exceção: o requirements.txt precisa ser versionado (apesar da regra *.txt)
!requirements.txt

# Áudios (não subir arquivos pesados no GitHub)
*.mp3
*.mp4
*.wav
*.m4a

# Configurações locais
.env

# Cache Python
__pycache__/
*.pyc
